<ion-header>

  <ion-navbar color="dark">
    <ion-title>Perfil</ion-title>
    <ion-buttons end *ngIf="!isEditing">
      <button ion-button icon-only (click)="edit()">
          <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="isEditing">
      <button ion-button icon-only (click)="salvar()">
          <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>  
  <ion-item-group *ngIf="user"> 
    <ion-item text-center>
      <img src="assets/imgs/default-user.png" style="border-radius: 50%; width:120px; height: 120px">
    </ion-item>
    <ion-item>
      <ion-label stacked>Nome</ion-label>  
      <ion-input type="text" [(ngModel)]="user.nome" disabled="{{!isEditing}}"></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label stacked>Username</ion-label>  
    <ion-input type="text" [(ngModel)]="user.username" disabled="{{!isEditing}}"></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label stacked>Senha</ion-label>  
    <ion-input type="password" [(ngModel)]="user.password" disabled="{{!isEditing}}"></ion-input>
  </ion-item> 

  <button ion-button color="primary" clear>Histórico de Trocas</button>
</ion-item-group> 

</ion-content>
