<ion-header>

  <ion-navbar color="light">
    <ion-title>Perfil</ion-title>
    <ion-buttons end *ngIf="!isEditing">
      <button ion-button icon-only (click)="edit()">
          <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item-group> 
    <ion-item text-center>
      <img src="../../assets/imgs/default-user.png" style="border-radius: 50%; width:120px; height: 120px">
    </ion-item>
    <ion-item>
      <ion-label stacked>Nome</ion-label>  
      <ion-input type="text" [(ngModel)]="user.name" disabled="{{!isEditing}}"></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label stacked>Username</ion-label>  
    <ion-input type="text" [(ngModel)]="user.username" disabled="{{!isEditing}}"></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label stacked>Senha</ion-label>  
    <ion-input type="password" [(ngModel)]="user.password" disabled="{{!isEditing}}"></ion-input>
  </ion-item> 
  <ion-item *ngIf="isEditing">
    <button (click)="salvar()" ion-button color="dark" block>Salvar</button>
  </ion-item>
</ion-item-group> 

</ion-content>
